{% extends 'base.html' %}
{% block title %}{{ muscle_group.muscle }}{% endblock %}

{% block content %}

<div class="iblock">
    <div id="bground-photo"
        style="background-image: url({{ muscle_group.muscle_image }}), url({{ muscle_group.body_image }});">
    </div>
</div>
<ul class="workout-list">
    {% for workout in workouts %}
    <li class="item" id="{{ workout.uuid }}"> {{ workout.name|replace(" Flye", "Fly" ) }}</li>
    <div class="info" id="info">
        {% autoescape false %}
        <p>{{ workout.description|replace("</p>", "")|replace("<p>",
            "")|replace("
        <ul>", "")|replace("</ul>", "")|replace("
        </li>", "")|replace("<li>", "<br />-")}}</p>
            {% if workout.equipment != [] %}
            <div>
                Necessary Workout Equipment: {{ workout.equipment |replace("1", "Barbell")|replace("2",
                "SZ-Bar")|replace("3",
                "Dumbbell")|replace("4", "Gym Mat")|replace("5", "Swiss Ball")|replace("6", "Pull-Up
                Bar")|replace("7",
                "None
                (bodyweight exercise)")|replace("8", "Bench")|replace("9", "Incline Bench")|replace("10",
                "Kettlebell")}}
            </div>
            {% else %}
            <div>
                Necessary Workout Equpiment: [Specific Machinery]
            </div>
            {% endif %}
            <div>
                <br>
                <h5>User comments:</h5>
                <br>
                <div>
                    {% for comments in comment %}
                    {% if workout.uuid == comments.workout_id %}
                    <section>
                        {% if comments.name %}
                        <u>Name:</u> {{ comments.name }}
                        {% else %}
                        <u>Name:</u> anonymous
                        {% endif %}
                    </section>
                    <section>
                        <u>Date:</u> {{ comments.date_posted.strftime('%m/%d/%Y %H:%M') }}
                    </section>
                    <section>
                        <u>Title:</u> {{ comments.title }}
                    </section>
                    <section>
                        <u>Content:</u> {{ comments.content }}
                    </section>
                    <br>
                    {% endif %}
                    {% endfor %}
                </div>
                <br>
                <form method="POST" id="comment" class="comment">
                    {{ form.csrf_token }}
                    <div class="backup-form" id="edit">{{ form.title(placeholder = "Title", class = "section") }}
                    </div>
                    <div class="backup-form" id="edit">{{ form.content(placeholder = "Content", class = "section")
                        }}</div>
                    <div class="backup-form" id="edit">{{ form.name(placeholder = "Name (optional)", class = "section")
                        }}</div>
                    <div>{{ form.workout_id (value = workout.uuid) }}</div>
                    <button id="submit-button"
                        class="{{ workout.uuid }} btn btn-primary btn-block btn-lg">Submit</button>
                    {% endautoescape %}
                </form>
            </div>
    </div>
    {% endfor %}
</ul>
</div>


{% endblock %}