{% extends 'base.html' %}
{% block title %}Muscle Groups{% endblock %}

{% block content %}

<h2 class="m-title">Muscle Categories</h2>
<h4 class="m-title">Choose a category that best suits the workout you're searching for.</h4>
<br>
<div class="container">

    {% for muscle, all_items in muscle_groups.items() %}
    <div class="m-div">
        <a href="/muscle/{{ muscle }}"><img class="m-groups" src="{{ all_items.image }}" alt="" id="{{ muscle }}"></a>
        <a href="{{ muscle }}">
            <h3 class="m-h3">{{ muscle }}</h3>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}